# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Other
.DS_Store
